<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://m.daum.net</string>
		<key>SearchURL</key>
		<string>http://m.search.daum.net/search?w=tot&amp;nil_mtopsearch=btn&amp;q={query}</string>
		<key>Title</key>
		<string>다음</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://m.naver.com</string>
		<key>SearchURL</key>
		<string>http://m.search.naver.com/search.naver?query={query}&amp;where=m&amp;sm=mtp_hty</string>
		<key>Title</key>
		<string>네이버</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://www.google.com</string>
		<key>SearchURL</key>
		<string>http://www.google.co.kr/#newwindow=1&amp;output=search&amp;sclient=psy-ab&amp;q={query}&amp;fp=1</string>
		<key>Title</key>
		<string>구글</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://m.nate.com</string>
		<key>SearchURL</key>
		<string>http://m.search.nate.com/search/all.html?q={query}&amp;thr=mnms&amp;input_search={query}</string>
		<key>Title</key>
		<string>네이트</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://www.bing.com/</string>
		<key>SearchURL</key>
		<string>http://www.bing.com/search?q={query}&amp;form=QBLH&amp;pq=%EB%9D%BC%EC%9E%84%ED%8C%8C%EC%9D%B8%EB%8D%94&amp;sc=1-3&amp;sp=-1&amp;sk=</string>
		<key>Title</key>
		<string>Bing</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://m.youtube.com/index?&amp;desktop_uri=%2F</string>
		<key>SearchURL</key>
		<string>http://m.youtube.com/results?q={query}</string>
		<key>Title</key>
		<string>YouTube</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://vimeo.com/m/</string>
		<key>SearchURL</key>
		<string>http://vimeo.com/m/search?q={query}</string>
		<key>Title</key>
		<string>Vimeo</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://m.pinterest.com/</string>
		<key>SearchURL</key>
		<string>http://m.pinterest.com/search/pins/?q={query}</string>
		<key>Title</key>
		<string>Pinterest</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://m.flickr.com/</string>
		<key>SearchURL</key>
		<string>http://m.flickr.com/#/search/advanced_QM_q_IS_{query}</string>
		<key>Title</key>
		<string>Flickr</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://ko.m.wikipedia.org</string>
		<key>SearchURL</key>
		<string>http://ko.m.wikipedia.org/wiki/{query}</string>
		<key>Title</key>
		<string>위키피디아</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://m.facebook.com</string>
		<key>SearchURL</key>
		<string>https://m.facebook.com/search/?query={query}</string>
		<key>Title</key>
		<string>facebook</string>
	</dict>
	<dict>
		<key>EncodeSpace</key>
		<string>NO</string>
		<key>EncodeUTF8</key>
		<string>YES</string>
		<key>FaviconPath</key>
		<string></string>
		<key>HostURL</key>
		<string>http://mobile.twitter.com</string>
		<key>SearchURL</key>
		<string>https://mobile.twitter.com/search?q={query}</string>
		<key>Title</key>
		<string>twitter</string>
	</dict>
</array>
</plist>
