<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BarPortraitSideMarginWidth</key>
	<integer>0</integer>
	<key>BarPortraitSideMarginHeight</key>
	<integer>0</integer>
	<key>BarLandscapeSideMarginWidth</key>
	<integer>0</integer>
	<key>BarLandscapeSideMarginHeight</key>
	<integer>0</integer>
	<key>IconPortraitSizeWidth</key>
	<integer>24</integer>
	<key>IconPortraitSizeHeight</key>
	<integer>24</integer>
	<key>IconLandscapeSizeWidth</key>
	<integer>24</integer>
	<key>IconLandscapeSizeHeight</key>
	<integer>24</integer>
	<key>List</key>
	<array>
		<dict>
			<key>Title</key>
			<string>List</string>
			<key>IconOn</key>
			<string>bottom_btn_list_over.png</string>
			<key>IconOff</key>
			<string>bottom_btn_list.png</string>
			<key>IconOver</key>
			<string>bottom_btn_list_over.png</string>
			<key>Selector</key>
			<string>actionList:</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BackWard</string>
			<key>IconOn</key>
			<string>bottom_btn_arrow_left_over.png</string>
			<key>IconOff</key>
			<string>bottom_btn_arrow_left.png</string>
			<key>IconOver</key>
			<string>bottom_btn_arrow_left_over.png</string>
			<key>Selector</key>
			<string>actionBackward:</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Forward</string>
			<key>IconOn</key>
			<string>bottom_btn_arrow_right_over.png</string>
			<key>IconOff</key>
			<string>bottom_btn_arrow_right.png</string>
			<key>IconOver</key>
			<string>bottom_btn_arrow_right_over.png</string>
			<key>Selector</key>
			<string>actionForward:</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>AddList</string>
			<key>IconOn</key>
			<string>bottom_btn_addition_over.png</string>
			<key>IconOff</key>
			<string>bottom_btn_addition.png</string>
			<key>IconOver</key>
			<string>bottom_btn_addition_over.png</string>
			<key>Selector</key>
			<string>actionAddList:</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>More</string>
			<key>IconOn</key>
			<string>bottom_btn_share_over.png</string>
			<key>IconOff</key>
			<string>bottom_btn_share.png</string>
			<key>IconOver</key>
			<string>bottom_btn_share_over.png</string>
			<key>Selector</key>
			<string>actionMore:</string>
		</dict>
	</array>
</dict>
</plist>
